@import "bourbon/bourbon"
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700")
@import vars

@mixin kerning($kerning)
  letter-spacing: $kerning + px

@mixin transition ($properties...)
  transition: $properties .3s ease-out
  -webkit-transition: $properties .3s ease-out
  -moz-transition: $properties .3s ease-out
  -ms-transition: $properties .3s ease-out
  -o-transition: $properties .3s ease-out

body
  font-weight: normal
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.6

.hidden
  display: none

section, .mainHead
  position: relative
  margin-bottom: 0


.mainHead
  display: block
  background-color: $bgGreay
  min-height: 480px

.menuButton
  z-index: 99999
  position: absolute
  border: 1px solid red
  .menuLink
    position: absolute
    z-index: 100
    right: 0
    top: 0
    display: none
    color: $menu
    display: inline-block
    font-size: 1.125rem
    text-transform: uppercase
    font-weight: 700
    margin: 20px 0 0 -20px
    text-align: centerd
    &:before
      content: ""
      background: $menu
      height: 4px
      width: 40px
      position: absolute
      top: -10px
      display: block
      @include transition(all)
    &:after
      content: ""
      background: $menu
      height: 4px
      width: 40px
      position: absolute
      top: -20px

      display: block
      @include transition(all)
    &.close
      &:before
        transform: rotate(-135deg)
        top: -15px
        left: 15px
        width: 25px
        margin: 0 0 0 -13px
        z-index: 100
      &:after
        transform: rotate(-45deg)
        top: -15px
        left: 15px
        width: 25px
        margin: 0 0 0 -13px
        z-index: 100
    a
      font-family: 'Oswald'

.topMenu
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,.85)
  z-index: 50
  right: 0
  top: 0
  display: none
  span
    display: block
  ul,
  li
    list-style-type: none
    padding: 0
    margin: 0
  ul
    margin-top: 180px
    text-align: center
    +animation-duration(.01s)
    li
      &:nth-child(1) a
        +animation-delay(0)
      &:nth-child(2) a
        +animation-delay(.2s)
      &:nth-child(3) a
        +animation-delay(.4s)
      &:nth-child(4) a
        +animation-delay(.6s)
    a
      color: #fff
      display: block
      text-transform: uppercase
      font-size: 12px
      opacity: 0
      position: relative
      height: 60px
      outline: none
      span
        display: block
        position: relative
        top: -40px
        left: 0
        height: 100%
        +transition(all 0.5s ease)
        &:hover
          background-color: rgba(255,255,255,.08)

.topWrapper
  display: table
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 10
  .topText
    text-align: center
    display: block
    margin-top: 100px
    +transition(all 1s ease)
    p
      color: $menu
      margin: 0
      text-transform: uppercase
      +animation-delay(1s)
    h1
      display: inline-block
      padding: 10px 35px
      color: $menu
      text-transform: uppercase
      font-weight: bold
      font-size: 2.8em
      margin-left: 20px
      margin-right: 20px
      +animation-delay(.5s)

.secAbout
  display: block
  margin-top: 0
  padding-top: 0
  .sectContent
    img
      height: 60px
      width: 60px
