@import "bourbon/bourbon"
@import vars

@mixin kerning($kerning)
  letter-spacing: $kerning + px

@mixin transition ($properties...)
  transition: $properties .3s ease-out
  -webkit-transition: $properties .3s ease-out
  -moz-transition: $properties .3s ease-out
  -ms-transition: $properties .3s ease-out
  -o-transition: $properties .3s ease-out

@mixin centerer($horizontal: true, $vertical: true)
  position: absolute
  @if ($horizontal and $vertical)
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  @else if ($horizontal)
    left: 50%
    transform: translate(-50%, 0)
  @else if ($vertical)
    top: 50%
    transform: translate(0, -50)

*, body, html
  margin: 0
  padding: 0

.mainHead
  display: block

.hidden
  display: none

.mainHead
  position: relative
  min-height: 480px
  .titleWrapper
    display: block
    padding: 150px
    top: 0
    left: 0
    text-align: center
    vertical-align: middle
    h1
      display: inline-block
      margin: 0
    p
      text-transform: uppercase
    .sendRequest
      margin-top: 20px

$imgH: 150px

.about
  .abWrapper
    position: relative
    width: 100%
    img
      width: $imgH
      height: $imgH
      &.horizontal
        @include centerer(true, false)
    p
      display: inline-block
      text-align: justify
      margin-top: $imgH + 20px